name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Reclaim Disk Space
      run: .github/ci-prerequisites.sh

    - name: Install JDK 25
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: 25
        check-latest: true
        cache: 'maven'

    - uses: ./.github/actions/use-docker-mirror

    - name: Cache Maven packages
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Build with Maven
      run: mvn clean verify

    - name: Upload test results
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: target/surefire-reports/
